/src/test/java/resources
/src/test/java/resources/UI_data/android_elements/eleme
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.idea/
/cucumber-auto.iml
cucumber-html-reports/
